# REQUIRED
# ---------------------------------------------------
DEPLOYMENT_PRIVATE_KEY="0x..."
ETHERSCAN_API_KEY=""

# OPTIONAL
# ---------------------------------------------------

# If the network's RPC_URL uses an Alchemy endpoint
# ALCHEMY_API_KEY=

# If using a burner wallet to deploy
# REFUND_ADDRESS=

# If running fork tests on a certain block
# FORK_BLOCK_NUMBER=


# YOUR CUSTOM SETTINGS
# ---------------------------------------------------
